<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Byrneco. Co. Industries</title>


    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/x-editable/dist/bootstrap-editable/js/bootstrap-editable.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/holder.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/jqfunctions.js"></script>
    <!-- endinject -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>
<div class="col-lg-2 col-sm-3 text-center">
    SHOULD YOU BE HERE?
    <form name="reg"
    action="/auth/reg"
    method="post" class="not-active">
        <input name="userName" id="userName">  u
        <input name="password" id="password"> p<br>
        <input type="submit" value="reg">
    </form>
    <hr>
    <form name="reg"
          action="/auth/logIn"
          method="post">
        <input name="userName" id="userName">  u
        <input name="password" id="password"> p<br>
        <input type="submit" value="login">
    </form>
</div>

</body>
